{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "~": "./src",
          "@components": "./src/components",
          "@pages": "./src/pages",
          "@routes": "./src/routes",
          "@utils": "./src/utils",
          "@features": "./src/features",
          "@hook": "./src/hook"
        }
      }
    ]
  ]
}
